@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #141414;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav{
  transition: background 3s ease-in-out;
background: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));;
z-index: 10000;
}
.bannerButton {
    display: flex ;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding: 1% 1%;
    width: 8rem;
    border-radius: 5px;
}
.bannerButton:hover{
    opacity: 0.75;

}

.fade{
  height: 10rem;
  background: linear-gradient(180deg, transparent, rgba(15,15,15,0.61), #141414, #141414);
position: absolute;
bottom: 0;
z-index: -1;
width:100%;

}
.banner-fade{
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(15,15,15,0.61), #141414, #141414);
position: absolute;
bottom: 0;
z-index: 1;
width: 33.333333%;
opacity: 0.1;
}
.modal-fade{
  height: 10rem;
  background: linear-gradient(180deg, transparent, rgba(15,15,15,0.61), #141414, #141414);
position: absolute;
bottom: 0;
z-index: 10;
width:100%;
}

.swiper-slide {
  overflow: hidden;
  border-radius: 6px;
cursor: pointer;
background:#141414;
  transition: all .2s !important;

}
.swiper-button-prev, .swiper-button-next {
  color: #fff !important;
  transform: scale(0.5);
}

.swiper-button-prev:hover, .swiper-button-next:hover{
  transform: scale(0.7);
}
.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255) !important;
  margin-top:5%;
}

.swiper-slide:hover{
  z-index: 10000 !important;
    transform: scale(1.1) !important;
  box-shadow: -2px 0px 40px -21px rgba(0,0,0,0.8);
  -webkit-box-shadow: -2px 0px 40px -21px rgba(0,0,0,0.8);
  -moz-box-shadow: -2px 0px 40px -21px rgba(0,0,0,0.8);
}

::-webkit-scrollbar {
  margin-top:2%;
height: 1px;;
width: 2px;
}
::-webkit-scrollbar-thumb {
  background: red;
}
/* Track */
::-webkit-scrollbar-track {
  background: black;
}
.modal-main{
  display: flex;
  height: auto;
  flex-direction: column;
}
.modal-main{
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.663);
  width: 50%;
  padding-bottom: 30px;
  max-height: 100vh;
  
  overflow-y:scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #141414;
  z-index: 9000;
  height: auto;
  
}
.modal-background{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

@media screen and (max-width:485px) {
  .swiper-slide {
    width: 100%  !important;
  }
  .swiper-button-prev, .swiper-button-next {
  display:none !important;
  }
  .modal-main{
    width:100%;
  }
}










